body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
}
h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
h2 {
    font-size: 3.5rem;
    line-height: 1.2;

}
h3 {
    font-size: 2.5rem;
    line-height: 1.2;
}
p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: gray;
    font-weight: bolder;
    font-size: 1.5rem;
}
li {
    list-style: none;
}
i[class] {
    color: #e42424;
    font-size: 2.5rem;
    padding-top: 2rem;
}
input[type=button] {
    font-size: 1.9rem;
    color: white;
    background: rgb(108,193,226);
    background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(57,47,122,1) 100%);
    border-width: 0px;
    padding: 1rem;
}
.container {
    width: 100%;
}
.header {
    box-shadow: 0 2px 10px rgb(226, 226, 226);
    padding: 1em;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 2rem;
    position: sticky;
    background-color: white;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
input#menuButton {
    display: none;
}
input#menuButton:checked ~ nav {
    height:150px;
}
@media screen and (max-width: 768px) {
    .header nav {
        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: height 0.5s ease-out;
    }
    #registrati {
        display: none;
    }
    #prezzimobile {
        text-align: left;
    }
    #prezzidesktop {
        display: none;
    }
}
@media screen and (min-width: 930px) {
    .banner {
        background-size: 100%;
    }
}
@media screen and (min-width: 768px) {
    .contentBanner {
        padding-left: 20%;
        padding-right: 20%;
    }
    #menuMobile {
        display: none;
    }
    .header nav ul li{
        margin-right: 2rem;
        display: inline-block;
    }
    .grid {
        display: grid;
        grid-template: 100% / 25% 25% 25%;
        grid-gap: 3rem;
        justify-content: center;
        }
    .grid p, .table, .table a {
        text-align: left;
        align-items: left;
    }
    .table {
        padding: 2rem;
    }
    .chi {
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: left;

    }
    .footergrid {
        display: grid;
        grid-template: 100% / auto auto auto;
        grid-gap: 3rem;
        text-align: left;
    }
    .footer {
        text-align: center;
    }
    table[class] {
        margin-left: 0px;
        margin-right: 0px;
    }
    .contenutochisiamo {
        padding-right: 3%;
        padding-left: 3%;
    }
    .gridchi {
        display: grid;
        grid-template: 100% / auto auto ;
        grid-gap: 3rem;
    }
    #prezzimobile {
        display: grid;
    }
    #prezzidesktop {
        margin-left: auto;
        margin-right: auto;
    }
    .contattigrid {
        padding-left: auto;
        padding-right: auto;
        display: grid;
        grid-gap: 10%;
        grid-template: 100% / 45% 45%;
    }
    .contatti {
        margin-left: 5%;
        margin-right: 5%;
    }
}
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("images/banner.jpg");
    background-position: center;

    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    

}
.contentBanner {
    color: white;
    text-shadow: 0px 0px 6px black;
    font-weight: bolder;
    padding-bottom: 0.5rem;
}
#chiedi {
    animation: dissolvenza 1.5s infinite;

}
@keyframes dissolvenza{
    0%   {box-shadow: 0 0 0 0px rgb(0,0,0,1)}
    100% {box-shadow: 0 0 0 15px rgb(0,0,0,0)}
}
.main {
    text-align: center;
    padding: 2rem;
    padding-bottom: 3rem;
}
.main i {font-size: 4rem;}
.scrivi {
    text-align: center;
    padding: 2rem;
    padding-bottom: 8rem;
    padding-top: 8rem;
    font-weight: bolder;
    color: white;
    background-color: #0c0633 ;
}
.scrivi p {margin-top: 1rem;}
.chi {
    margin: 2rem;
    text-align: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
table {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}
table[id] {
    margin-left: 0px;
    margin-right: 0px;
}
.footer {
    background-color: rgb(238, 238, 238);
    padding-bottom: 2rem;
    padding: 4rem;
}
.footer h3 {
    font-size: 2rem;
    padding-top: 1rem;
}
.itext {
    width: 99%;
    height: 70px;
    margin-top: 2rem;
    white-space: nowrap;
    border-width: 0px;
    font-size: 2.2rem;
}
.ibutton {
    width: 100%;
    height: 78px;
    white-space: nowrap;
    margin-bottom:2rem;
}
.contenutochisiamo {margin: 2rem;text-align: center;}
#foto1, #foto2 {padding-top: 1rem;}
#prezzimobile th {padding: 0.5rem;}
#prezzimobile td {padding: 0.5rem;width: 55%;}
#prezzimobile tr[class], #prezzidesktop tr[class] {background-color: #d2dce7;}
.prezzi {margin-top: 1rem; margin-bottom: 3rem;}
#prezzidesktop th {
    font-weight: bolder;
    font-size: larger;
    background-color: #5c86ad;
    color: white;
}
#prezzidesktop td, #prezzidesktop th{
    padding: 1rem;
}
.contatti {
    margin-top: 2rem;
    text-align: center;
    padding: 3rem;
    line-height: 1;
}
#areatesto {
    font-family: monospace;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.8;
    width: 90%;
    padding: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
}
.contatti input[id] {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.8;
    width: 90%;
    padding: 1rem;
}
.contatti input[type=button]{
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}
.contatti p[id] {line-height: 1.8;}